CESKOApp/CESKOApp/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceCESKO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceCESKO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureBase64" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ClientRegistrationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:Error" />
      <xs:element minOccurs="0" name="InternalID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientRegistrationResponse" nillable="true" type="tns:ClientRegistrationResponse" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="ClientDeleteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:Error" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDeleteResponse" nillable="true" type="tns:ClientDeleteResponse" />
  <xs:complexType name="ClientUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:Error" />
      <xs:element minOccurs="0" name="internalId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientUpdateResponse" nillable="true" type="tns:ClientUpdateResponse" />
</xs:schema>